Source: plasma-applet-redshift-control
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               plasma-framework-dev,
Standards-Version: 3.9.5
Homepage: http://kde-apps.org/content/show.php/Redshift+Control?content=170746
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-extras/plasma-applet-redshift-control.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-extras/plasma-applet-redshift-control.git;a=summary

Package: redshift-plasmoid
Architecture: any
Depends: redshift, fonts-font-awesome, ${misc:Depends}, ${shlibs:Depends}
Description: Adjusts the color temperature of your screen, KDE plasmoid
 Redshift plasmoid provides a configuration interface and allows one to
 start/stop Redshift daemon either manually or automatically based on the
 current activity.
